.container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  border: 2px solid blueviolet;
  background: #9BC4E2;
  top: 0;
  left: 0;
  width: 148px;
  height: 154px;
  z-index: 1;
}

.disabled {
  background: rgb(231, 228, 228) !important;
}

.blockInfo {

}

.blockButton {
  margin: 2px;
}

.time, .name {
  
}
