.container {
  display: flex;
  justify-content: space-between;
  border: 1px solid blueviolet;
  width: 100%;
  height: 100%;
  background: #9BC4E2;
}

.time {
  margin: 15px;
}

.cancel {
  margin: 15px;
}