.container {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.authButtons {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none !important;
}

.signUpButton {
  text-decoration: none;
}

.loginButton {
  text-decoration: none;
}