.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid blue;
  height: 154px;
  z-index: 1;
  background: white;
  top: 0;
  left: 0;
  width: 148px;
}

.bookButton {
  padding: 10px;
}

.cancelButton {
  margin: 10px;
}