.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid darkblue;
  width: 98%;
  height: 98%;
}

.bookButton {
  margin: 10px;
}

.cancelButton {
  margin: 10px;
}