.container {
  width: 100%;
  height: 100%;
  margin: 20px;
  padding: 20px;
}

.title { 
  text-align: center;
}

.schedContainer {
  display:flex;
  justify-content: center;
}

.blocks {
  margin-right: 50px;
}

.selectedBlocks {
  margin-left: 50px;
}