.container {
  border: 1px solid red;
  padding: 20px;
  flex-grow: 2;
}

.grids {
  display: flex;
  height: 70%;
  overflow-y: scroll;
}

.dates {
  margin-left: 29px;
  display: flex;
  width: 100%;
}