.container {
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;

  height: 400px;
  width: 400px;
}

.sBlock {
  height: 30px;
  background: darkslateblue;
  color: white;
  text-align: center;
}