.container {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  padding-left: 100px;
  flex-direction: column;
}

.signUpForm {
  margin: 0 50px 0 0;
}

.nameField, .emailField, .passwordsField {
  display: flex;
  margin: 30px 0;
  width: 400px;
}

.firstNameField, .passwordField  {
  margin-right: 20px;
  
}

.signUpButton {
  display: flex;
  justify-content: flex-end;
  margin: 0 50px 0 0;
}

.cancelButton {
  margin-right: 12px;
  color: #b2b0b0;
}